<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link href="assets/uicons/css/uicons-regular-rounded.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&
	family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">    
	<title>Document</title>
</head>
<body>

	<!-- <img id="img-metro" class="insignia" src="assets/photo1.jpg" alt="Inisgnia"> -->

	<!-- ENTER PAGE -->
	<div class="enter-page">
		<div class="enter-title"><span>W</span><span>e</span><span>i</span><span>r</span><span>d</span> 
			<span>T</span><span>i</span><span>m</span><span>e</span><span>s</span></div>
		<div class="subtitle">A newspaper made with passion</div>
		<div class="scroll-down-container">
			<span>Scroll Down</span>
			<i class="fi-rr-angle-double-small-left"></i>
		</div>
	</div>


	<!-- ABSOLUTE ELEMENTS -->

	<div class="categories">
		<a href="">World</a>
		<a href="">Sports</a>
		<a href="">Technology</a>
		<a href="">Economy</a>
		<a href="">US</a>
		<a href="">Cience</a>
	</div>

	<nav>
		<div class="title"><span>W</span><span>e</span><span>i</span><span>r</span><span>d</span> 
			<span>T</span><span>i</span><span>m</span><span>e</span><span>s</span></div>
		
		<div class="right-nav-links">
			<a href="#">Home</a>
			<a id="categories" href="#">Categories</a>
			<a href="#">Top</a>
		</div>
	</nav>

	

	<div class="main-container">
		<div class="article-entry">
			<div class="article-details">
				<div class="writer-image-container"><img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"/></div>
				<div class="article-date"><span>19</span> Mar</div>
			</div>
			<div class="article-text">
				<div class="article-title">New gobernment</div>
				<div class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius quia saepe assumenda, 
				deserunt esse rem provident vel? Delectus nisi ratione placeat ut quo eligendi impedit unde molestiae et a?</div>
			</div>
		</div>

		<div class="article-entry">
			<div class="article-details">
				<div class="writer-image-container"><img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"/></div>
				<div class="article-date"><span>19</span> Mar</div>
			</div>
			<div class="article-text">
				<div class="article-title">New gobernment</div>
				<div class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius quia saepe assumenda, 
				deserunt esse rem provident vel? Delectus nisi ratione placeat ut quo eligendi impedit unde molestiae et a?</div>
			</div>
		</div>

		<div class="article-entry">
			<div class="article-details">
				<div class="writer-image-container"><img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"/></div>
				<div class="article-date"><span>19</span> Mar</div>
			</div>
			<div class="article-text">
				<div class="article-title">New gobernment</div>
				<div class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius quia saepe assumenda, 
				deserunt esse rem provident vel? Delectus nisi ratione placeat ut quo eligendi impedit unde molestiae et a?</div>
			</div>
		</div>

		<div class="article-entry">
			<div class="article-details">
				<div class="writer-image-container"><img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"/></div>
				<div class="article-date"><span>19</span> Mar</div>
			</div>
			<div class="article-text">
				<div class="article-title">New gobernment</div>
				<div class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius quia saepe assumenda, 
				deserunt esse rem provident vel? Delectus nisi ratione placeat ut quo eligendi impedit unde molestiae et a?</div>
			</div>
		</div>
		
	</div>
	<footer>

	</footer>

	<script src='bundle.js'></script>
</body>
</html>
