body {
  background-color: mintcream;
}

hr {
  border-width: 10px;
  border-color: rgba(95, 158, 160, 0.596);
  border-style: none;
  border-top-style: dotted;
  width: 6%;
  height: 0px;
}

/* Class selectors */
hr:hover {
  border-width: 10px;
  border-color: rgba(3, 105, 109, 0.596);  
  border-style: none;
  border-top-style: dotted;
  width: 6%;                    
  height: 0px;                   /* They ovewrite the Tag Selectors */
}

/* ID selectors */
#educationh3 {
  color: rgb(12, 59, 190);
}

h1 {
	color: rgb(12, 110, 190);
}

h3 {
	color: rgb(12, 110, 190);
}
